<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Bridge-only test build: no network, storage, camera, microphone,
         boot receiver, foreground service, or root-related permission. -->
    <application
        android:name=".WinlandApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Padputer Wayland Bridge"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WinlandServer">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|uiMode|density|smallestScreenSize|layoutDirection|fontScale"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/Theme.WinlandServer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DisplayActivity"
            android:exported="false"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|uiMode"
            android:screenOrientation="fullUser"
            android:theme="@style/Theme.WinlandServer" />

        <activity
            android:name=".AhbPresentTestActivity"
            android:exported="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|uiMode"
            android:screenOrientation="fullUser"
            android:theme="@style/Theme.WinlandServer" />

        <activity
            android:name=".TerminalActivity"
            android:exported="false"
            android:enabled="false" />
    </application>
</manifest>
